@font-face {
    font-family: 'RixToyGray';
    src:
        url('./font/RixToyGray.ttf')
}

@font-face {
    font-family: 'Daum_Regular';
    src:
        url('./font/Daum_Regular.ttf')
}

body {
    font-family: 'Daum_Regular';

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.customfontP {
    padding: 2px;
    font-family: 'RixToyGray';
    font-size: 150%;
}

#container {
    width: 1980px;
    margin: 0px auto;
    padding: 10px;
}
    
#header, #footer{
    width:100%;
    height:10%;
    padding-top:10px;
    padding-bottom:10px;
    float:right;
    border:1px solid #bcbcbc;
}

#left{
    float:left;
    width:350px;
    border:1px solid #bcbcbc;
    
    font-size: 150%;
}

#content {
    float:left;
    width:800px;
    padding: 20px;
    font-size: 150%;
}

#right {
    position: fixed;
    top:10.6%;
    right:10.35%;
    width:350px;
    border:1px solid #bcbcbc;

    font-size: 150%;
}